/* color picker :
2D2053
5B45BC
9178F2
FEDBFA
0B0B0B
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
@font-face{ 
    font-family:"Blenda Script"; 
    src:url("../fonts/BlendaScript.otf");
    font-weight:normal; 
    } 
#wrapper{ 
    width:1080px; 
    margin: auto;
    } 
body{
    background-image: url(../images/bg4.jpg);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}
#container{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px; 
    background:rgba(91, 69, 188, 70%); 
    float:left; 
    margin-top:10px; 
    margin-bottom:10px; 
    margin: auto;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
    -o-border-radius:10px; 
    opacity: 1;
    } 
header{ 
    color: #EEEEEE;
    font-family: "Blenda Script";
    font-size: 3rem;
    text-align: left,100px;
    height:120px; 
    width:1080px; 
    border:#5B45BC 1px solid; 
    float:left; 
    background:url(../images/akatsuki2.jpg); 
    background-size:1080px 120px; /* CSS3 */ 
    }
header a{
    color: #EEEEEE;
    text-decoration: none;
    transition: 0.5s;
    margin-left: 5px;
} 
header a:hover{
    background: -webkit-linear-gradient(#5B45BC, #9178F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   /* Ini buat side Nav */

.side-nav {
    width: 100px;
    height: 25%;
    background-color: #333333;
    float: right;
    overflow: hidden;
    position: fixed;
    top:35%;
    right:0;
    box-shadow: 0 0 6px #999999;
}
   
.side-nav .title {
    width: 100%;
    float: left;
    font-size: 14px;
    padding: 14px;
    text-align: center;
    color: #EEEEEE;
}

.side-nav .title a{
    text-decoration: none;
    color: #20b2aa;
}

.side-nav ul{
    float: left;
}

.side-nav ul li{
    display: block;
}
/*
.side-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    border-left: solid 4px transparent;
    padding: 13px 210px 13px 16px;
    font-size: 14px;
}

.side-nav li a:hover{
    background: rgba(0,0,0,1);
}

.side-nav li a.active{
    border-left: solid 4px #20b2aa;
    background: rgba(0,0,0,0.2);
}
*/
    /* Ini buat Nav */
nav{  
    width:1080px; 
    float:left; 
    overflow:auto;
    background-color: #2D2053;
    border:#5B45BC 1px solid;
    border-top: #000000 0px solid;
    border-bottom: #5B45BC 1px solid;
}
nav ul{ 
    list-style:none; 
    float:left; 
    overflow:auto; 
    margin:0px; 
    padding:0px;
    } 
nav ul li{ 
    display:block; 
    padding:5px 10px 5px 10px; 
    float:left; 
    margin:0px; 
    transition: 1s;
    transition-timing-function: ease-out;
    
    /*border-right:#AAAAAA 1px solid; */
    } 
nav ul li .submenu{ 
    display:none;
    } 
nav ul li:hover .submenu{ 
    display: block;
    width:90px;
    position: absolute;
    margin-top:5px; 
    border:#5B45BC 1px solid; 
    border-radius: 1px;
    background:#2D2053; 
    margin-left:-11px; 
    border-radius: 5px;
    } 
nav ul li:hover .submenu li{ 
    display:block; 
    width:88px; 
    padding:5px; 
    float:left; 
    border:none;
    } 
nav ul li:hover{ 
    background:#9178F2; 
    border-radius: 5px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    } 
nav ul li:hover a{ 
    color: #EEEEEE;
    } 
nav ul li a{ 
    color:#EEEEEE;
    text-decoration:none; 
    transition: 0,5s;
    } 
nav ul li a:hover{ 
    text-decoration:underline;
    color: #2D2053;
    transition: 0,5s;
    } 

/* Content */
#wrapper #content{ 
    width:720px; 
    float:left; 
    padding:10px;
    } 
#wrapper #container .tag{
    font-size: 42px;
    margin-left: 15px;
    color: #FEDBFA;
}

#wrapper #content #single{ 
    margin:5px; 
    border:#DFDFDF 1px solid; 
    padding:5px; 
    font-size:13px; 
    float:left; 
    overflow:auto; 
    color: #FEDBFA;
    } 
#wrapper #content #single #featured-image{ 
    width:150px; 
    height:150px;
    max-width: 100%;
    max-height: 100%;
    background-position:right; 
    float:left; 
    overflow: hidden; 
    margin-right:5px;
    } 
#wrapper #content #single h2{ 
    margin:0px; 
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:18px; padding:5px; 
    border:#DFDFDF 1px solid; 
    background:#EEEEEE; 
    margin-bottom:10px; 
    } 

    /* Ini buat baca selengkapnya */
#wrapper #content #single #more a{ 
    display: inline-block;
    float:right; 
    overflow:auto; 
    padding:2px 10px 2px 10px; 
    background:#EEEEEE; 
    border:#9178F2 1px solid; 
    border-radius:10px; 
    -webkit-border-radius:10px; 
    -o-border-radius:10px; 
    margin-bottom:10px; 
    margin-right:10px; 
    margin-top:10px; 
    text-align:center; 
    text-decoration:none; 
    color:#000000; 
    transition: all 0.2s;
    }
#wrapper #content #single #more a:hover{ 
    background:#9178F2; 
    color:#0B0B0B; 
    border:#5B45BC 1px solid;
    } 

#wrapper #content #single #more span {
    cursor: pointer;
    display: inline-block;    
    position: relative;
    transition: 0.2s;
    }

#wrapper #content #single #more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
      }
#wrapper #content #single #more:hover span:after {
        opacity: 1;
        right: 0;
}
/* konten */
#wrapper #content #single #thumbnail-image{ 
    width:680px; 
    height:370px; 
    -moz-background-size:620px 310px; /* CSS3 Mozilla Firefox */ 
    background-size:620px 310px; /* CSS3 Other Browser */ 
    background-position:auto; 
    background-repeat: no-repeat;
    margin-bottom:10px;
    }
/* chara */
#wrapper #content #chara{ 
    margin:5px; 
    border:#DFDFDF 1px solid; 
    padding:5px; 
    font-size:13px; 
    float:left; 
    overflow:auto; 
    color: #FEDBFA;
    } 
#wrapper #content #chara h3{ 
    margin:0px; 
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:18px; padding:5px;         border:#DFDFDF 1px solid; 
    background:#EEEEEE; 
    margin-bottom:10px; 
    width: 420px;
} 

#wrapper #content #chara a{
    text-decoration: none;
}
#wrapper #content #chara .chara-image{ 
    margin-top: 49px;
    width: 250px;
    float: right;
}
    
#wrapper #content #chara #tabel{
    width: 680px;
}

/* tabel */
table {
    width: 420px;
    border-collapse: collapse;
}

th {
    background: #EEEEEE;
}

td, th {
    padding: 10px 5px;
    border: solid thin #cccccc;
}

tr, td {
    background: #ffffff;
}
/* Sidebar */
#wrapper #sidebar{ 
    width:300px; 
    float:left; 
    padding:10px;
    color: #FEDBFA;
    } 

#wrapper #sidebar{ 
    width:300px; 
    float:left;
    padding:10px;
    } 
#wrapper #sidebar .widget{ 
    list-style:none; 
    } 
#wrapper #sidebar .widget ul{ 
    list-style:none; 
    margin-left:-40px; 
    } 
#wrapper #sidebar .widget li a{ 
    color:#FEDBFA; 
    text-decoration:none; 
    } 
#wrapper #sidebar .widget li a:hover{ 
    text-decoration:underline;
    } 
#wrapper #sidebar .widget audio{ 
    list-style:none; 
    margin-top: 10px;
    } 

/* footer */
footer{
    float:left; 
    background:#333333; 
    width:1080px; 
    color:#BBBBBB; 
    } 
footer #column{ 
    width:300px; 
    padding:10px; 
    float:left; 
    font-size:14px;
} 
footer #column h2{ 
    margin:0px; 
    margin-bottom:10px; 
    font-family:Cuprum; 
    font-size:18px; 
    color:#FFFFFF; 
    font-weight:bold; 
    } 
footer #column a{ 
    font-weight:bold; 
    color:#0099CC; 
    text-decoration:none; 
    } 
footer #column a:hover{ 
    text-decoration:underline; 
    } 

/* card */
.card {
    width: 150px;
    height : auto;
    margin : 20px 0px 0px 20px;
    background-color: #FEDBFA;
    border: solid thin #dddddd;
    box-shadow: 0 0 6px #999999;
    float: left;
}

.card .card-image center{
    overflow: hidden;
    max-height: 250px;
}

.card .card-title{
    margin: -5px;
    font-size: 30px;
    font-weight: normal;
    color: #9178F2;
}

.card .card-content{
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
}

.card .card-content .card-title{
    font-size: 32px;
    line-height: 1.6;
    display: block;
    text-align: center;
}

/* button */

.btn {
    display: inline-block;
    width: 96px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9178F2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0px 28px;
    margin-bottom: 20px;
}

.btn a{
    text-decoration: none;
    margin-left: -5px;
    padding: 20px 30px;
    text-align: center
}

.btn:hover {
    background-color: #5B45BC;
}

.btn:active {
    background-color: #5B45BC;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}